.custom .solid-select-container {
  background-color: rgba(var(--background));
  
  }
  .custom .solid-select-control {
    outline-color: #707070;
    border-color: #707070;
    height: 3rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  .custom .solid-select-placeholder {
    
  }
  .custom .solid-select-option:hover {
    background-color: rgba(var(--background));

    
  }
  .custom .solid-select-option[data-focused=true] {
    background-color: rgba(var(--background));
  }

  .custom .solid-select-list {
    background-color: rgba(var(--background));
    height: 220px;
    border-radius: 20px;
  }