@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.dark {
    --background: 18, 18, 19;
    --list-background: 39, 39, 41;
    --primary: 255, 255, 255;
    --warn: 239, 68, 68;
    --absent: 58, 58, 60;
}

.light {
    --background: 255, 255, 255;
    --list-background: 255, 255, 255;
    --primary: 0, 0, 0;
    --warn: 239, 68, 68;
    --absent: 100, 116, 139;
}
